@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
  .logo img {
    width: 200px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
    float: left;
    margin-top: 20px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {     
    font-size: 16px;
    color: dimgrey;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.normal:hover {
    background-color: purple;
}

body {
    width: 100%;
}

.announcement-bar {
    background-color: purple;
    text-align: center;
    padding: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .announcement-bar p {
    margin: 0;
    font-weight: bold;
    color: white;
  }

  .announcement-bar a {
    color: white;
    transition: 0.3s ease;
  }

  .announcement-bar a:hover{
    color: black;
}
  

#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: black;
    box-shadow: 0 5px 15px rgb(0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 10px 20px;
    white-space: nowrap;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
    
}

#navbar li a:hover{
    color: purple;
}

#navbar li a:hover,
#navbar li a.active{
    color: purple;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: purple;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero{
    background-image: url("images/hero2.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position:top 0 left 300px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1 {
    padding-bottom: 15px;
    color: black;
}

#hero h4 {
    padding-bottom: 15px;
}

/*#hero button{
    background-image: url("images/button.png");
    background-color: transparent;
    color: purple;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}*/

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid purple;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);  
} 

#product1 .pro img { 
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .desc {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .desc span {
    color: purple;
    font-size: 14px;
    font: bold;
}

#product1 .pro .desc .h5 {
    padding-top: 7px;
    color: black;
    font-size: 16px;
}

#product1 .pro .desc i {
    font-size: 12px;
}

#product1 .pro .desc h4 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: purple;
}

#product1 .pro .cart {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: darkgray;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/summer.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: black;
    font-size: 18px;
}

#banner h2 {
    color: white;
    font-size: 35px;
    padding: 10px 0;
}

#banner h2 span {
    color: purple;
}

#banner button:hover {
    background-color: purple;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/alexander-grey-LnrNWayL4rE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: black;
}

#newsletter h4{
    font-size: 26px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 17px;
    font-weight: 600;
    color: white;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    white-space: nowrap;
}

.icon {
    display: flex;
    margin-right: 10px;
}

footer .follow {
    margin-top: 20px;
}   

footer .follow i {
    margin-top: 10px;
    cursor: pointer;
}   

footer .install .row img{
    border: 1px solid black;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: purple;
}

footer .copyright {
    width: 100%;
    text-align: center;
}



@media (max-width:799px) {

    #header .announcement-bar {
        text-align: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 20px;
        margin-top: 0px;
        }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: black;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 120px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i{
        padding-right: 20px;
        padding-left: 20px;
    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        padding-top: 18px;
    }

    #lg-bag {
        display: none;
    }

    #close {
        display: initial;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: bottom 30% right 220%;
        background-repeat: no-repeat;
    }

    #hero h1{
        margin-left: -4%;
    }

    #hero p {
        margin-left: -4%;
    }

    #hero button {
        margin-left: -4%;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 25vh;
    }

    #newsletter .form {
        width: 70%;
    }


}

@media (max-width: 477px) {


    #header {
        height: 100px;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    .pro-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .pro {
        width: 50%; /* Each product takes up 50% of the container width */
        box-sizing: border-box; /* Include padding and border in the width */
        padding: 10px; /* Add some spacing between products */
    }

    #header .announcement-bar {
        text-align: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 30px;
        margin-top: -30px;
        }

   .announcement-bar p {
    font-size: 12px;
    padding-left: 10px;
    padding-right:10px;
   }

    .logo img {
        margin-top: 10px;
        margin-left: -30px;
    }

    #header {
        padding: 10px 20px;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: bottom 30% right 100%;
        background-repeat: no-repeat;
    }

    #hero h1{
        margin-left: -20%;
        color: purple;
    }

    #hero p {
        margin-left: -20%;
        margin-right: 0%;
        font-weight: 600 ;
    }

    #hero button {
        margin-left: -20%;
        background-color: purple;
    }

    #hero button:hover {
        background-color: black;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        padding-right: 120px;
    }

    #product1 .pro {
        width: 100%;
    }

    #product1 p {
        padding-right: 0px;
    }

    #banner {
        height: 40vh;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px ;
    }

    #newsletter p {
        font-size: 13px;
        padding-right: 10px;
    }
    

    footer .copyright {
        text-align: start;
    }



}


/*Shop Page*/

#pageheader {


    background-image: url(images/shopbanner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column ;
  }

  #pageheader h1,
  #pageheader p{
    color: black;
  }

  #pages {
    text-align: center;
  }

  #pages a{
    text-decoration: none;
    background-color: purple;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
  }

  /* Single product*/

  #prodetails {
    display: flex;
    margin-top: 20px;

  }

  #prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
  }

  .small-img-group {
    display: flex;
    justify-content: space-between;
  }

  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }

  #prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px   ;
  }

  #prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
  }

  #prodetails .single-pro-details h2 {
    font-size: 26px;
  }

  #prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }

  #prodetails .single-pro-details input:focus {
    outline: none;
  }

  #prodetails .single-pro-details span {
    line-height: 25px;
  }






